<nav class="bg-blue-600 w-full flex justify-between items-center py-3 px-4 fixed z-50 ">

    <div class="w-6/12">
        <div class="mr-2">
            <a href="#">
                <button class="bg-blue-800 text-white py-1 px-10 rounded-md ">
                    Hospital
                </button>
            </a>
        </div>

    </div>

    <div class="w-6/12 flex flex-nowrap justify-end">
        <!-- Admin -->
        <div class="mr-3">
            <a href="#">
                <button class="bg-blue-800 text-white py-1 px-4 rounded-md">
                    Admin
                </button>
            </a>
        </div>
        <!-- Médico -->
        <div class="mr-3">
            <a href="#">
                <button class="bg-blue-800 text-white py-1 px-4 rounded-md">
                    Médico
                </button>
            </a>
        </div>
        <!-- Paciente -->
        <div class="mr-3">
            <a href="#">
                <button class="bg-blue-800 text-white py-1 px-4 rounded-md">
                    Paciente
                </button>   
            </a>         
        </div>
    </div>

</nav>